<div class="card">
    <div class="card-header card-header-primary">
        <a href="{{ url_for(urltype2, infodomain_id=infodomain.id) }}"><h4 class="card-title ">{{ header }}</h4></a>
    </div>
    <div class="card-body table-responsive">
        {% if items %}
        <table class="table table-hover" style="width: 100%;">
            {% for item in items %}
                <tr><td><a href="{{ url_for(urltype1, id=item.id) }}">{{ item.name }}</a></td></tr>
            {% endfor %}
        </table>
        {% else %}
            Keine Einträge
        {% endif %}
        <form method="POST" action="{{ url_for(url_add) }}">
            {{ form.hidden_tag() }}
            <input type="hidden" name="dom_id" value="{{ infodomain.id }}">
            <button type="submit" class="btn btn-outline-success btn-sm"><span class="material-icons">add_circle_outline</span> {{ btn_name }}</button>{% if items %}<a href="{{ url_for(urltype2, infodomain_id=infodomain.id) }}" class="btn btn-outline-primary btn-sm"><span class="material-icons">reorder</span> Alle</a>{% endif %}
        </form>
    </div>
</div>  