            <div class="card">
                <div class="card-body p-3">
                    <h5 class="card-title">{{layer}}</h5>
                    <table class="table table-sm table-hover mb-0">
                        <tr>
                            <th>#</td>
                            <th>Baustein</td>
                            <th>Prio</td>
                        </tr>                    
                        {% for entry in gsmodel-%}
                        {% if entry.buildingblock.buildingblockgroup.shorthand==layer-%}
                        <tr>
                            <td style="width: 10%">{{ entry.buildingblock.order }}</td>
                            <td><a href="{{ url_for('main.buildingblock', id=entry.buildingblock.id) }}">{{ entry.buildingblock.name }}</a></td>
                            <td style="width: 10%">{{ entry.buildingblock.prio.name }}</td>
                        </tr>
                        {% endif-%}
                        {% endfor-%}
                    </table>                         
                </div>
            </div>