{% extends "layouts/base.html" -%}
{% import 'bootstrap/wtf.html' as wtf -%}

{% block title -%} {{ title }} {% endblock -%} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets -%}{% endblock stylesheets -%}

{% set deactivated = namespace(value=0) %}

{% block content -%}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">{{ _( item_name + ' hinzufügen') }}</h4>
            </div>
            <div class="card-body text-left table-responsive">

                <div class="row">
                    <div class="col-md-4">
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div><!-- div col-md-12 -->
</div><!-- div row -->            
{% endblock %}
