{% extends "layouts/base.html" -%}
{% import 'bootstrap/wtf.html' as wtf -%}

{% block title -%} {{ title }} {% endblock -%} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets -%}{% endblock stylesheets -%}

{% block content -%}

{% with messages = get_flashed_messages() -%}
{% if messages -%}
<div class="row">
    <div class="col-md-12">
    {% for message in messages -%}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor -%}
    </div>
</div>
{% endif -%}
{% endwith -%}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">{{ bbgroup.shorthand }}: {{ bbgroup.name }}</h4>
            </div>
            <div class="card-body text-left table-responsive">

                <h5>Bausteine</h5>
                {% if buildingblocks %}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Prio</th>
                            <th>Anforderungen</th>
            <!--                <th>&nbsp;</th>
                            <th>&nbsp;</th>-->
                        </tr>
                    </thead>
                    <tbody>
                {% for buildingblock in buildingblocks %}
                    <tr>
                        <td>{{ bbgroup.shorthand }}.{{ buildingblock.order }}</td>
                        <td><a href="{{ url_for('main.buildingblock', id=buildingblock.id) }}">{{ buildingblock.name }}</a>{% if buildingblock.description %}<br/><small class="text-muted">{{ buildingblock.description }}</small>{% endif %}</td>
                        <td>{{ buildingblock.prio.name }}</td>
                        <td>{{ buildingblock.requirements|length }}</td>
            <!--            <td><button class="btn btn-primary btn-sm" type="submit" value="Bearbeiten" title="Eintrag bearbeiten" disabled><i class="fas fa-edit"></i></button></td>
                        <td><form action="{{ url_for('main.del_buildingblock', id=buildingblock.id) }}" method="POST">{{ bbdelform.hidden_tag() }}<button class="btn btn-outline-danger btn-sm" type="submit" value="Löschen" title="Eintrag löschen"><i class="fas fa-trash-alt"></i></button></form></td>-->
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>Keine Bausteine</p>
                {% endif %}

            <p><a class="btn btn-primary" href="{{ url_for('main.add_buildingblock', bbgid=bbgroup.id) }}">Baustein hinzufügen</a></p>
            </div>
        </div>
    </div><!-- div col-md-12 -->
</div><!-- div row -->
{% endblock %}
