{% extends "layouts/base.html" -%}
{% import 'bootstrap/wtf.html' as wtf -%}

{% block title -%} {{ title }} {% endblock -%} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets -%}{% endblock stylesheets -%}

{% set deactivated = namespace(value=0) %}

{% block content -%}

{% with messages = get_flashed_messages() -%}
{% if messages -%}
<div class="row">
    <div class="col-md-12">
    {% for message in messages -%}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor -%}
    </div>
</div>
{% endif -%}
{% endwith -%}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">{{ bbgroup.shorthand }}.{{ buildingblock.order }} {{ buildingblock.name }} ({{ buildingblock.prio.name }})</h4>
            </div>
            <div class="card-body text-left table-responsive">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('main.catalogues') }}">Grundschutz-Kompendium 2020</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('main.buildingblockgroup', id=bbgroup.id) }}">{{ bbgroup.shorthand }}: {{ bbgroup.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ bbgroup.shorthand }}.{{ buildingblock.order }} {{ bbgroup.name }}</li>
                    </ol>
                </nav>
                {% if buildingblock.description %}
                <dl>
                    <dt>Beschreibung</dt>
                    <dd>{{ buildingblock.description }}</dd>
                </dl>
                {% endif %}

                <h5>Anforderungen</h5>
                {% if requirements %}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Level</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for requirement in requirements %}
                    {% if requirement.is_active %}
                    <tr>
                        <td>{{ bbgroup.shorthand }}.{{ buildingblock.order }}.A{{ requirement.order }}</td>
                        <td>{{ requirement.name }}{% if requirement.description %}<br/><small class="text-muted">{{ requirement.description }}</small>{% endif %}</td>
                        <td>{{ requirement.protection_level.name }}</td>
                    </tr>
                    {% else %}
                        {% set deactivated.value = deactivated.value + 1 %}
                    {% endif %}
                {% endfor %}
                    </tbody>
                </table>
                {% if deactivated.value > 0 %}
                <p><mark>Es gibt {{ deactivated.value }} entfallene(s) Element(e).</mark></p>
                {% endif %}
                {% else %}
                    <p>Keine Anforderungen</p>
                {% endif %}
                <p><a href="{{ url_for('main.add_requirement', bbid=buildingblock.id) }}" title="{{ _('Baustein hinzufügen') }}"><i class="material-icons">add_circle_outline</i> Anforderung hinzufügen</a></p>
            </div>
        </div>
    </div><!-- div col-md-12 -->
</div><!-- div row -->
{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts -%}{% endblock javascripts -%}
