{% extends "layouts/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} {{ title }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Checklisten</h4>
                        <p class="card-category">Sortiert und gefiltert nach Prio R1-R3 und Anforderungsniveau Basis, Standard, Hoch.</p>
                    </div>
                    <div class="card-body text-left">
                        <div class="card">
                            <div class="card-header card-header-tabs card-header-info">
                                <div class="nav-tabs-navigation">
                                    <!-- BEGIN Checklist Prio -->
                                    <div class="float-right">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                        <a class="nav-link {% if prio=='R1' -%} active show{% endif -%}" href="{{ url_for('main.dom_checklists', dom_id=infodomain.id, prio='R1') }}">
                                            <i class="material-icons">check_circle_outline</i> R1
                                            <div class="ripple-container"></div>
                                        <div class="ripple-container"></div></a>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link {% if prio=='R2' -%} active show{% endif -%}" href="{{ url_for('main.dom_checklists', dom_id=infodomain.id, prio='R2') }}">
                                            <i class="material-icons">check_circle_outline</i> R2
                                            <div class="ripple-container"></div>
                                        <div class="ripple-container"></div></a>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link {% if prio=='R3' -%} active show{% endif -%}" href="{{ url_for('main.dom_checklists', dom_id=infodomain.id, prio='R3') }}">
                                            <i class="material-icons">check_circle_outline</i> R3
                                            <div class="ripple-container"></div>
                                        <div class="ripple-container"></div></a>
                                        </li>                     
                                    </ul>
                                    </div>
                                    <!-- END Checklist Prio -->
                                    <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Schritte:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('main.infodomain', infodomain_id=infodomain.id) }}">
                                            <i class="material-icons">device_hub</i> Strukturanalyse
                                            <div class="ripple-container"></div>
                                        <div class="ripple-container"></div></a>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('main.model_infodomain', id=infodomain.id) }}">
                                            <i class="material-icons">mediation</i> Modellierung Prozesse
                                            <div class="ripple-container"></div>
                                        <div class="ripple-container"></div></a>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('main.model_systems', id=infodomain.id) }}">
                                            <i class="material-icons">devices_other</i> Modellierung Systeme
                                            <div class="ripple-container"></div>
                                        <div class="ripple-container"></div></a>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link active" href="{{ url_for('main.dom_checklists', dom_id=infodomain.id) }}">
                                            <i class="material-icons">check_circle_outline</i> Checklisten
                                            <div class="ripple-container"></div>
                                        <div class="ripple-container"></div></a>
                                        </li>                        
                                    </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body>
                                <div class="card">
                                    <div class="card-body table-responsive">
                                        <table class="table-sm table-striped table-hover w-100">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Bezeichnung</th>
                                                <th scope="col">Prio</th>
                                                <th scope="col">Anforderungen</th>
                                                <td>Basis</td>
                                                <td>Standard</td>
                                                <td>Hoch</td>
                                            </tr>
                                            {% for checklist in checklists -%}
                                            {% set count = namespace(value=0) -%}
                                            {% set count.value = count.value + checklist.base_count|int -%}
                                            {% set count.value = count.value + checklist.standard_count|int -%}
                                            {% set count.value = count.value + checklist.high_count|int -%}
                                            <tr>
                                                <td>{{loop.index}}</td>
                                                <td><a href="{{ url_for('main.checklist', checklist_id=checklist.id) }}">{{checklist.name}}</a></td>
                                                <td>{{checklist.prio}}</td>
                                                <td>{%  if (count.value) > 0 -%}
                                                            {{count.value}}
                                                        {% else -%}
                                                            <a href="{{ url_for('main.autocreate_checklistitems', checklist_id=checklist.id) }}" title="Checkliste erzeugen"><span class="material-icons">published_with_changes</span></a>
                                                        {% endif -%}
                                                </td>
                                                <td>{{checklist.base_count|int -}}</td>
                                                <td>{{checklist.standard_count|int -}}</td>
                                                <td>{{checklist.high_count|int -}}</td>
                                            </tr>
                                            {% endfor -%}
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts -%}{% endblock javascripts -%}