{% extends "layouts/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} {{ title }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Informationsverbund <i>{{ infodomain.name }}</i></h4>
                        <p class="card-category">{{ infodomain.description }}</p>
                    </div>
                    <div class="card-body text-left">
                        <div class="card">

                            <div class="card-header card-header-tabs card-header-info">
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Schritte:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                        <a class="nav-link active show" href="#">
                                            <i class="material-icons">device_hub</i> Strukturanalyse
                                            <div class="ripple-container"></div>
                                        <div class="ripple-container"></div></a>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('main.model_infodomain', id=infodomain.id) }}">
                                            <i class="material-icons">mediation</i> Modellierung Prozesse
                                            <div class="ripple-container"></div>
                                        <div class="ripple-container"></div></a>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('main.model_systems', id=infodomain.id) }}">
                                            <i class="material-icons">devices_other</i> Modellierung Systeme
                                            <div class="ripple-container"></div>
                                        <div class="ripple-container"></div></a>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('main.dom_checklists', dom_id=infodomain.id) }}">
                                            <i class="material-icons">check_circle_outline</i> Checklisten
                                            <div class="ripple-container"></div>
                                        <div class="ripple-container"></div></a>
                                        </li>                        
                                    </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        {% with %}
                                            {% set header = "Geschäftsprozesse" %}
                                            {% set items = cprocs %}
                                            {% set urltype1 = 'main.coreprocess' %}
                                            {% set urltype2 = 'main.coreprocesses' %}
                                            {% set url_add = 'main.add_coreprocess' %}
                                            {% set btn_name = "Prozess anlegen" %}
                                            
                                            {% include '_infodomain_card.html' %}

                                        {% endwith %}    
                                    </div>
                                    <div class="col">
                                        {% with %}
                                            {% set header = "Anwendungen" %}
                                            {% set items = apps %}
                                            {% set urltype1 = 'main.application' %}
                                            {% set urltype2 = 'main.applications' %}
                                            {% set url_add = 'main.add_application' %}
                                            {% set btn_name = "Anwendung anlegen" %}
                                            
                                            {% include '_infodomain_card.html' %}
                                            
                                        {% endwith %}
                                    </div>
                                    <div class="col">
                                        {% with %}
                                            {% set header = "IT-Systeme" %}
                                            {% set items = systems %}
                                            {% set urltype1 = 'main.system' %}
                                            {% set urltype2 = 'main.systems' %}
                                            {% set url_add = 'main.add_system' %}
                                            {% set btn_name = "IT System anlegen" %}
                                            
                                            {% include '_infodomain_card.html' %}
                                            
                                        {% endwith %}        
                                    </div>
                                    <div class="col">
                                        {% with %}
                                            {% set header = "Netze / Verbindungen" %}
                                            {% set items = networks %}
                                            {% set urltype1 = 'main.network' %}
                                            {% set urltype2 = 'main.networks' %}
                                            {% set url_add = 'main.add_network' %}
                                            {% set btn_name = "Netz / Verb. anlegen" %}
                                            
                                            {% include '_infodomain_card.html' %}
                                            
                                        {% endwith %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {% with %}
                                            {% set header = "Räume" %}
                                            {% set items = rooms %}
                                            {% set urltype1 = 'main.room' %}
                                            {% set urltype2 = 'main.rooms' %}
                                            {% set url_add = 'main.add_room' %}
                                            {% set btn_name = "Raum anlegen" %}
                                            
                                            {% include '_infodomain_card.html' %}
                                            
                                        {% endwith %}
                                    </div>
                                    <div class="col">
                                        {% with %}
                                            {% set header = "Personen" %}
                                            {% set items = persons %}
                                            {% set urltype1 = 'main.person' %}
                                            {% set urltype2 = 'main.persons' %}
                                            {% set url_add = 'main.add_person' %}
                                            {% set btn_name = "Person anlegen" %}
                                            
                                            {% include '_infodomain_card.html' %}
                                            
                                        {% endwith %}
                                    </div>
                                    <div class="col">
                                        {% with %}
                                            {% set header = "Dokumente" %}
                                            {% set items = documents %}
                                            {% set urltype1 = 'main.document' %}
                                            {% set urltype2 = 'main.documents' %}
                                            {% set url_add = 'main.add_document' %}
                                            {% set btn_name = "Dokument anlegen" %}
                                            
                                            {% include '_infodomain_card.html' %}
                                            
                                        {% endwith %}        
                                    </div>
                                    <div class="col">
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>

    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts -%}{% endblock javascripts -%}
