{% extends "layouts/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} {{ title }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row">
    <div class="col-md-12">
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    </div>
</div>
{% endif %}
{% endwith %}

<div class="row">
    <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">{{ title }}</h4>
                        <!--<p class="card-category"> Here is a subtitle for this table</p>-->
                    </div>
                    <div class="card-body text-left">
                        {% if form %}
                        {{ wtf.quick_form(form) }}
                        <br>
                        {% endif %}
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Beschreibung</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in items -%}
                                    {% include '_item_'+item_type+'.html' -%}
                                {% endfor -%}
                                </tbody>
                            </table>
                        </div>
                        <form method="POST" action="{{ form_url }}">
                            {% if org_id %}
                            <input type="hidden" name="org_id" value="{{org_id}}">
                            {% elif dom_id %}
                            <input type="hidden" name="dom_id" value="{{dom_id}}">
                            {% endif %}
                            <button type="submit" class="btn btn-outline-success"><i class="material-icons">add_circle_outline</i> {{form_add_entity}} anlegen</button>
                        </form>
                    </div>
                </div>

    </div><!-- div col-md-12 -->
</div><!-- div row -->
{% endblock content -%}

<!-- Specific Page JS goes HERE -->
{% block javascripts -%}{% endblock javascripts -%}
