{% extends "layouts/base.html" -%}
{% import 'bootstrap/wtf.html' as wtf -%}

{% block title -%} {{ title }} {% endblock -%} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets -%}{% endblock stylesheets -%}

{% block content -%}

{% with messages = get_flashed_messages() -%}
{% if messages -%}
<div class="row">
    <div class="col-md-12">
    {% for message in messages -%}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor -%}
    </div>
</div>
{% endif -%}
{% endwith -%}

<div class="row">
    <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Anwendung: {{ application.name }}</h4>
                    </div>
                    <div class="card-body text-left table-responsive">

                      <div class="row mb-3">

                          <div class="col">
                            <div class="card h-100">
                              <h5 class="card-header">Beschreibung</h5>
                              <div class="card-body">
                                {{ application.description }}
                              </div>
                              <div class="card-footer text-center"></div>
                            </div>
                          </div>

                          <div class="col">
                            <div class="card h-100">
                              <div class="card-header">
                                <h5>Benötigte Systeme</h5>
                              </div>
                              <div class="card-body">
                                <p>Folgende Systeme werden zur Ausführung dieser Anwendung benötigt:</p>
                                    {% if application.systems %}
                                    <table class="table-sm table-striped table-bordered table-hover" style="width: 100%;">
                                        {% for system in application.systems %}
                                            <tr><td><a href="{{ url_for('main.system', id=system.system.id) }}">{{ system.system.name }}</a></td></tr>
                                        {% endfor %}
                                    </table>
                                    {% else %}
                                        <small>Keine Einträge</small>
                                    {% endif %}
                                    <div class="mt-3"><button data-toggle="modal" data-target="#loginModal" class="btn btn-outline-success btn-sm"><i class="fas fa-plus"></i> System verknüpfen</button></div>
                              </div>
                              <div class="card-footer text-center"></div>
                            </div>
                          </div>

                      </div>

                    </div>
                </div>

    </div><!-- div col-md-12 -->
</div><!-- div row -->

<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-body">{{ wtf.quick_form(sysrelationform) }}
        </div>
      </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts -%}{% endblock javascripts -%}